/** Import font from google fonts*/
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);

:root {
  --color-title: rgb(255, 156, 161);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(53, 57, 53);
  --color-gray: rgb(236, 236, 236);
  --color-CallToAction: rgba(71, 209, 186, 1);
  --font-fontfamily: "Dosis", sans-serif;
  --font-weight-large: 700;
  --font-weight-medium: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fontfamily);
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-CallToAction);
}
.prodLayout{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.prodLayout h2{
color: var(--color-title);
}
.mainNav {
  position: sticky;
  background-color: rgba(24, 24, 24, 0.137);  
  backdrop-filter: blur(5px);
  z-index: 30;
  top: 0px;
  margin: -75px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.mainNav:hover {
  background-color: rgba(24, 24, 24, 0.83);
}
.mainNav a{
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--font-weight-large);
  font-size: 20px;
  padding: 30px;
}
.mainNav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--color-title);
  -moz-text-decoration-color: var(--color-title);
}

header {
  display: flex;
  height: 110vh;
  background-color: black;
}

header h1 {
  color: var(--color-title);
  font-weight: var(--font-weight-large);
}

.coverImageMain {
  position: relative;

  width: 60%;
  height: 100%;
  background-image: url(../public/images/coverfoto-cake.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .6;

}
.coverImagePages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageAbout {
    background-image: url(../public/images/Cover_about.jpg);
    background-attachment: fixed;
}
.imageContact{
    background-image: url(../public/images/Cover_contact.jpg);
    background-attachment: fixed;
}
.imageProd{
    background-image: url(../public/images/Cover_prod.jpg);
    background-attachment: fixed;
} 
.coverImagePages h1 {
  font-size: 125px;
  text-transform: uppercase;
  color: var(--color-white);
}

.coverCTA {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}
.mainNav .logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 30px;
  margin-left: 30px;
  background-image: url(../public/images/logo_munamii.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ctaText {
  font-size: 50px;
  margin-bottom: 20px;
}
.ctaButton {
  background-color: var(--color-CallToAction);
  color: var(--color-white);
  font-weight: var(--font-weight-large);
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.prodButtons{
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prodButtons a {
  margin: 10px 20px;
  text-decoration: none;
}
.logo {
  width: 200px;
  height: 200px;
  background-image: url(../public/images/logo_munamii.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--color-title);
  -moz-text-decoration-color: var(--color-title);
}

.prodButtons .active {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-black);
    scale: .9;
}
.ctaButton:hover {
  opacity: 0.9;
  cursor: pointer;
}
.ctaButton:active {
  scale: 0.95;
}
.pageInfoWrapper {
  background-color: var(--color-CallToAction);
  width: 100%;
}
.pageInfoWrapper > p {
  padding: 100px 0;
  font-size: 25px;
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
  width: 50%;
}
.ChosenProductsWrapper{
  background-color: var(--color-white);
}
.ChosenProductsWrapper,
.pageInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ChosenProductsWrapper h2 {
  font-size: 30px;
  padding: 20px 0;
  color: var(--color-title);
}
.cakeCard {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.imageContainter {
  width: 100%;
  overflow: hidden;
}
.cakeCard .image {
  width: 100%;
  height: 300px;
  background-image: url(../public/images/cake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
.cakeCard .cakeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.cakeCard .image:hover {
  scale: 1.4;
}

.cakeInfo .button {
  margin: 10px 10px;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cakeInfo .button:hover {
  background-color: var(--color-CallToAction);
  color: var(--color-white);
  cursor: pointer;
}
.cupcakeWrapper,
.cakeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cupcakeWrapper h2,
.cakeWrapper h2 {
  font-size: 30px;
  padding: 20px 0;
  color:var(--color-title);
}
.cupcakeGrid,
.cakeGrid,
.ChosenGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: var(--color-white);
}
.formContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}
.formContainer h2 {
  font-size: 30px;
  padding: 20px 0;
  color: var(--color-title);
}
.formContainer label {
  display: block;
}
.formContainer input {
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
}
.formContainer textarea {
  width: 250px;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
}
.formContainer #submit {
  background-color: var(--color-CallToAction);
  color: var(--color-white);
  font-weight: var(--font-weight-large);
  font-size: 20px;
  width: inherit;
  height: inherit;
  padding: 10px 15px;
  margin: 0x 0 20px 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.formContainer #submit:hover {
  opacity: 0.9;
  cursor: pointer;
}
.formContainer #submit:active {
  scale: 0.95;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: var(--color-gray);
}
footer img {
  width: 30px;
  margin: 0 10px;
}
footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
footer .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: blue;
  font-weight: var(--font-weight-medium);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
footer .links a:hover {
  scale: 1.05;
}

@media (max-width: 1050px) {
  header {
    flex-direction: column;
  }
  .mainNav{
    justify-content: center;
  }
  .coverImageMain {
    width: 100%;
  }
  .coverCTA {
    position: absolute;
    width: 100%;
    background-color: #00000000;
    height: 105vh;
  }
  .logo {
    display: none;
  }
  .cupcakeGrid,
  .cakeGrid,
  .ChosenGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .pageInfoWrapper > p {
    width: 80%;
  }
  footer .links {
    width: 80%;
  }
  nav {
    padding: 20px 0;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .cupcakeGrid,
  .cakeGrid,
  .ChosenGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .prodButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 20px 0;
  }
  .ctaText{
    width: 100%;
    text-align: center;
  }
  .coverImagePages h1 {
    font-size: 80px;
  }
  .mainNav a{
    padding: 10px;
  }
  .mainNav a .logo{
    display: block;
  }
  nav a {
    display: block;
    padding: 20px;
  }
  footer .links a {
    display: block;
  }
}